<h1>Edit Dispatch</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.dispatch_path(@conn, :update, @dispatch)) %>

<span><%= link "Back", to: Routes.dispatch_path(@conn, :index) %></span>
